workflow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--spacing-largest);
  width: 100%;
  border-radius: var(--spacing-smaller);
  margin: 0 var(--spacing-medium);

  background: rgba(255,255,255,0.5);
  border: solid 1px;
}

workflow:empty {
  position:relative;
  border: dashed 1px;
  border-color: var(--primary-tint);
}

workflow:empty:before {
  content: '';
  display: flex;
  position: absolute;
  left:10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  border-radius: 0px;

  background-image:
    linear-gradient(var(--primary-tint) var(--spacing-small), transparent 0),
    linear-gradient(var(--primary-tint) var(--spacing-small), transparent 0),
    linear-gradient(var(--primary-tint) var(--spacing-small), transparent 0),
    linear-gradient(var(--primary-tint) var(--spacing-small), transparent 0),
    linear-gradient(var(--primary-tint) var(--spacing-small), transparent 0),
    linear-gradient(hsla(216, 89%, 49%, 0.1) var(--spacing-largest), transparent 0);

  background-repeat: no-repeat;

  background-size:
    25% 135px,
    5% 135px,
    calc(100% - 10px) 135px,
    48% 135px,
    48% 135px,
    100% 135px;

  background-position:
    5px 5px,
    top 5px right 5px,
    5px calc((var(--spacing-medium) * 1.5) + 5px),
    5px calc((var(--spacing-medium) * 3) + 5px),
    calc(100% - 5px) calc((var(--spacing-medium) * 3) + 5px),
    0 0;
}