<form>
  <legend>Input fields that accept <code>accent-color</code> property</legend>
  <fieldset>
    <row>
      <label for='checkbox'>Check box</label>
      <input type='checkbox' id='checkbox'>
    </row>
    <row>
      <label for='radio'>Radio button</label>
      <input type='radio' name='radio' id='radio'>
    </row>
    <row>
      <label for='range'>Range selector</label>
      <input type='range' id='range'>
    </row>
    <row>
      <label for='progress'>Progress bar</label>
      <progress id='progress'>
    </row>
    <row>
      <label for='color'>Use to change accent</label>
      <input type='color' id='color'>
    </row>
  </fieldset>
</form>
<link rel="stylesheet" type="text/css" href="css/accent.css">
