<items>
  <input id="Milk" type="checkbox">
  <label for="Milk">Milk</label>
  <input id="Butter" type="checkbox">
  <label for="Butter">Butter</label>
  <input id="Cheese" type="checkbox" checked>
  <label for="Cheese">Cheese</label>
  <input id="Eggs" type="checkbox">
  <label for="Eggs">Eggs</label>
  <input id="Flour" type="checkbox">
  <label for="Flour">Flour</label>
  <input id="Sugar" type="checkbox">
  <label for="Sugar">Sugar</label>
</items>
<cart></cart>
<link rel="stylesheet" type="text/css" href="css/counter.css">