
<datalist id="random">
  <option>Red apples</option>
  <option>Blue sky</option>
  <option>Green grass</option>
  <option>Yellow sun</option>
  <option>Purple flowers</option>
  <option>Orange juice</option>
  <option>Black coffee</option>
  <option>White snow</option>
  <option>Brown bear</option>
  <option>Pink roses</option>
  <option>Happy dogs bark</option>
  <option>Lazy cats purr</option>
  <option>Big trees sway</option>
  <option>Fast cars zoom</option>
  <option>Quiet rivers flow</option>
  <option>Sharp knives cut</option>
  <option>Old books smell</option>
  <option>Soft pillows rest</option>
  <option>Bright stars twinkle</option>
  <option>Loud music plays</option>
  <option>Calm seas ripple</option>
  <option>Round tables gather</option>
  <option>Small birds sing</option>
  <option>Hot coffee steams</option>
  <option>Cold ice melts</option>
</datalist>

<select>
  <option>Red apples</option>
  <option>Blue sky</option>
  <option>Green grass</option>
  <option>Yellow sun</option>
  <option>Purple flowers</option>
  <option>Orange juice</option>
  <option>Black coffee</option>
  <option>White snow</option>
  <option>Brown bear</option>
  <option>Pink roses</option>
  <option>Happy dogs bark</option>
  <option>Lazy cats purr</option>
  <option>Big trees sway</option>
  <option>Fast cars zoom</option>
  <option>Quiet rivers flow</option>
  <option>Sharp knives cut</option>
  <option>Old books smell</option>
  <option>Soft pillows rest</option>
  <option>Bright stars twinkle</option>
  <option>Loud music plays</option>
  <option>Calm seas ripple</option>
  <option>Round tables gather</option>
  <option>Small birds sing</option>
  <option>Hot coffee steams</option>
  <option>Cold ice melts</option>
</select>

<input type="text" list="random" placeholder="Types stuff to find it">
<link rel="stylesheet" type="text/css" href="css/datalist.css">