<nav>
  <article>
    <div>
      <h2>scroll + snappy</h2>
      <big>using  <strong>scroll-snap-type:</strong></big>
      <p><strong>to navigate <arrow>⇢</arrow></strong></p>
    </div>
  </article>
  <article>
    <h1>Implementing Scroll Snap</h1>
<pre>
<code>
/* Parent Element */
scroll-snap-type: x mandatory;
scroll-snap-align: center;

/* Child Element */
scroll-snap-stop: always;
</code>
</pre>
  </article>
  <article>
    <h1>Try It Out</h1>
    Scroll horizontally to experience scroll snap.
  </article>
  <article>
    <h2>Resources</h2>
    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Scroll_Snap" target="_blank">MDN Web Docs</a>
</nav>
<link rel="stylesheet" type="text/css" href="css/scrollsnap.css">